<header class="u-clearfix u-header u-section-row-container">
  <div class="u-section-rows">
    <div class="u-black u-clearfix u-section-row">
      <div class="u-clearfix u-nav-orient u-sheet u-valign-middle u-sheet-1">
        <h1 id="u-nav-text-1" class="u-text-palette-5-light-3">DUAL POWER</h1>
        <a class="u-image logo u-image-1" data-image-width="500" data-image-height="500" href="{{ site.baseurl }}/">
          <img alt="Logo" aria-label="home" src="{{ site.logo | prepend: site.baseurl }}" class="u-logo-image u-logo-image-1">
        </a>
        <h1 id="u-nav-text-2" class="u-text-palette-5-light-3">Midwest</h1>
      </div>
    </div>
    <div class="u-section-row nav-bar">
      <div class="menu-item">
          <a class="u-button-style u-nav-link u-text-white" href="{{ site.baseurl }}/">Home</a>
        </div>
        {% for page in site.pages %}
          {% if page.nav-include %}
          <div class="menu-item">
            <a class="u-button-style u-nav-link u-text-white" href="{{ page.url | prepend: site.baseurl }}">
              {% if page.nav-title %}{{ page.nav-title }}
              {% else %}{{ page.title }}{% endif %}
            </a>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</header>