{% for post in site.posts %}
    <div class="{% if post.thumbnail %}post{% else %}post-no-img{% endif %}">
        {% if post.thumbnail %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="post-image" style="background-image: url('{{ post.thumbnail | prepend: site.baseurl }}');"></div>
            </a>
        {% endif %}
        <div class="preview-content">
            <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="preview-headline">{{ post.title }}</h2></a>
            <p class="preview-meta">
                {% if post.icon %}<i class="ico-{{ post.icon }}"></i>
                {% else %}<i class="ico-pencil"></i>{% endif %} &middot; Posted on {{ post.date | date: "%B %-d, %Y" }}
            </p>
            <p class="preview-summary">{{ post.content | strip_html | truncate:200 }}</p>
        </div>
    </div>
{% endfor %}